button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: #8d2c2c;
}
.solid {
    background: white;
    border: none;
    color: #8d2c2c;;
}
.outline {
    background: transparent;
    color: #8d2c2c;
    border: 1px solid #8d2c2c;
}

.error {
    background: #e74c3c;
    color: white;
    display: none;
} 